### Dependencies ###
node_modules/

### Next.js ###
.next/
out/

### Build & dist ###
dist/
build/

### Testing & coverage ###
coverage/
.nyc_output/
*-tests.xml

### Logs ###
*.log
npm-debug.log*

### OS files ###
.DS_Store
Thumbs.db

### IDE ###
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo

### TypeScript ###
*.tsbuildinfo
*.css.d.ts

### Misc ###
.tmp/
screenshots/
.lighthouseci/
.env
.env.local
.env.*.local
